<%# Banner and title for the page %>
<div class="w-full h-80 bg-center bg-[url('https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')]">
  <div class="w-full h-full bg-slate-100 bg-opacity-25">
    <div class="flex h-full justify-center items-center ">
      <%# Wanted to add text shadow to title but not supported by Tailwind.  Maybe maunally enter it? %>
      <h1 class="text-4xl text-white">User's Profile Page</h1>
    </div>
  </div>
</div>

<%# Div for current cars hosted by User %>
<div>

</div>
