<div class="bg-cover w-full h-80 bg-no-repeat bg-center bg-[url('https://images.unsplash.com/photo-1530721733923-e2df89901503?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80')]">
  <div class="flex justify-center items-center h-full">
    <h1 class="text-white text-3xl">Rent a Ferrari</h1>
  </div>
</div>
<div class="flex flex-wrap">
  <div class="max-w-sm rounded overflow-hidden shadow-lg mt-6 shadow-xl bg-neutral-400 h-40 w-80 mr-4 ml-4">
    <img class="w-full" src="/img/card-top.jpg" alt="car picture">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mt-5">Car Model</div>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">$</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Dates Available</span>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg mt-6 shadow-xl bg-neutral-400 h-40 w-80 mr-4 ml-4">
    <img class="w-full" src="/img/card-top.jpg" alt="car picture">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mt-5">Car Model</div>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">$</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Dates Available</span>
    </div>
  </div>
</div>
