<main class="w-full h-full bg-gradient-to-r from-cyan-500 to-blue-500">
<div class="w-full h-60 bg-cover bg-no-repeat bg-center bg-[url('./tree.jpg')]">
</div>
<div class="flex justify-center">
  <div>
    <p class="pl-24 font-serif text-6xl mt-4 mb-4 font-bold">
    Drive Better
    </p>
    <p class="font-serif text-2xl">
    Luxury car rates so low, you won’t even think twice
    </p>
  </div>
</div>
<div class="mt-16 ml-4 ml-44 font-serif font-bold text-1xl">
view by models
</div>
<div class="flex flex-wrap ml-24 mr-24 mt-4 justify-center">
  <div class="w-48 h-60 bg-blue-600 m-4 relative">
    <img class="flex justify-center" scr="" alt="img_upload.jpg">
      <div class ="w-48 h-16 absolute bottom-0 left-0 bg-blue-400" >
      <p class="flex justify-center pt-4">car model name</p>
      </div>
  </div>
  <div class="w-48 h-60 bg-blue-600 m-4 relative">
    <img class="flex justify-center" scr="" alt="img_upload.jpg">
      <div class ="w-48 h-16 absolute bottom-0 left-0 bg-blue-400" >
      <p class="flex justify-center pt-4">car model name</p>
      </div>
  </div>
  <div class="w-48 h-60 bg-blue-600 m-4 relative">
    <img class="flex justify-center" scr="" alt="img_upload.jpg">
      <div class ="w-48 h-16 absolute bottom-0 left-0 bg-blue-400" >
      <p class="flex justify-center pt-4">car model name</p>
      </div>
  </div>
  <div class="w-48 h-60 bg-blue-600 m-4 relative">
    <img class="flex justify-center" scr="" alt="img_upload.jpg">
      <div class ="w-48 h-16 absolute bottom-0 left-0 bg-blue-400" >
      <p class="flex justify-center pt-4">car model name</p>
      </div>
  </div>
  <div class="w-48 h-60 bg-blue-600 m-4 relative">
    <img class="flex justify-center" scr="" alt="img_upload.jpg">
      <div class ="w-48 h-16 absolute bottom-0 left-0 bg-blue-400" >
      <p class="flex justify-center pt-4">car model name</p>
      </div>
  </div>
</div>
<div class="w-80 mt-24 ml-40 font-serif font-bold text-3xl">
Find the perfect car to conquer the great outdoors
</div>
<div class="w-80 mt-4 ml-40 font-serif font-thin text-2xl">
Go prepared in a rugged 4x4 to take on winter roads with ease, or a camper van to take you to the trees
</div>
<div class="mt-60 w-full h-96 bg-gradient-to-r from-cyan-500 to-blue-500">
</div>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

</main>
