<main class="w-full bg-gradient-to-b from-indigo-100 to-green-100">
<div class="w-full  h-5/6 mb-2">
  <%# <div class="w-full h-5/6 bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div> %>
  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/lamborghini.jpeg" class="d-block w-100 h-5/6" alt="...">
      <%# <div class="w-full h-5/6 bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div> %>
    </div>
    <div class="carousel-item">
      <img src="/lamborghini.jpeg" class="d-block w-100  h-5/6" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/lamborghini.jpeg" class="d-block w-100  h-5/6" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="w-full h-80 ml-40">
  <div class="flex">
    <div>
      <p class="font-serif font-bold text-4xl">Car Name</p>
      <p class="font-serif font-bold text-1xl mt-4">Car Model Name</p>
      <p class="font-serif font-bold text-2xl mt-8">rating</p>
      <div class="flex mt-16">
        <div>
          <p>electric/fuel</p>
          <p>number of seats</p>
        </div>
        <div class="ml-36">
          <p>number of doors</p>
          <p>age</p>
        </div>
      </div>
    </div>
    <div class="ml-96 mt-2 flex items-baseline">
    <p class="font-serif font-bold text-3xl">Price</p>
    <p class="font-serif font text-1xl ml-8">100$/day</p>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="ml-40 w-2/5">
    <p class="font-serif">
    Description: This Model 3 - one of the first ever made - makes the journey enjoyable. It is equipped with 290 miles of maximum range, convenient access to the Supercharger network of fast charging stations, Autopilot and Full Self-Driving capability (human supervision required), all-season tires, camping and dog mode climate control settings, and the best built-in navigation system of any car out there.
    </p>
  </div>
</div>
<%# host info box%>
<div class="flex ml-40 mt-24 items-top relative">
  <div>
    <%# host avatar%>
    <div class="w-36 h-36 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-10 mt-6 text-1xl font-serif font-bold">Host By</p>
  </div>
  <div class="ml-24 mt-1">
    <p class="mr-4 font-serif text-lg font-bold">Rating ☆ ☆ ☆ ☆ ☆</p>
    <div class="flex pt-3">
    <p class="mr-4 font-serif text-lg font-bold">Name</p><p class="text-lg font-serif">hostname</p>
    </div>
    <div class="flex pt-3">
    <p class="mr-4 font-serif text-lg font-bold">Award</p><p class="text-lg font-serif">some award</p>
    </div>
    <p class="pt-6 font-light text-neutral-500">47 trips Joined Feb 2019</p>
    <p class="pt-2.5 font-light text-neutral-500">Typically responds in 59min</p>
  </div>
<%# not needed: submit request form%>
  <div class="absolute top-0 right-56 flow-root">
  </div>
</div>
<div class="w-full">
  <p class="ml-40 mt-36 text-4xl font-serif font-bold">Instructions</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Parking details</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Please leave the vehicle where you found it. In the unlikely event the spot is taken, please do not leave the vehicle in front of any houses other than 125.</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Guidelines</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Pets are welcome, smoking is not. Please return the car with at least 100 miles of range, the more the better. Always pay attention to the road even if the car is on Autopilot, it's still learning how to drive and might need you to retake control at any time (though most of the time it's very good).</p>
</div>
<div class="ml-40 mt-24 items-top flex relative">
  <div>
    <p class="font-bold text-3xl font-serif">Reviews & Ratings</p>
    <div class="mt-8 flex">
      <div>
        <p class="mt-2 font-serif">Cleanliness</p>
        <p class="mt-2 font-serif">Maintanence</p>
        <p class="mt-2 font-serif">Communication</p>
        <p class="mt-2 font-serif">Accuracy</p>
      </div>
      <div class="ml-16 font-light">
      <p class="mt-2">corresponding rating bars --------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      </div>
    </div>
  </div>
  <div class="mt-2 absolute top-0 right-28">
<%# review form here%>
    <form class="w-full max-w-sm mt-8">
      <div class="relative" data-te-input-wrapper-init>
        <textarea
          class="mr-4 peer block border-white w-full rounded py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-25"
          id="review"
          rows="10"
          placeholder="Your message"></textarea>
        </div>
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <button class="mr-4 mt-8 ml-6 shadow bg-blue-400 hover:bg-cyan-400 focus:shadow-outline focus:outline-none text-white font-serif font-medium py-2 px-4 rounded" type="button">
            Submit a review
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<%# user info display for review box%>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5 indent-8">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5 indent-8">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5 indent-8">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<%# some bottom space%>
<div class="h-40 w-full">
</div>
</main>
