<main class="w-full bg-gradient-to-b from-indigo-100 to-green-100">
<div class="w-full h-screen">
  <div class="w-full h-5/6 bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
</div>
<div class="w-full h-80 ml-40">
  <div class="flex">
    <div>
      <p class="font-serif font-bold text-4xl">Car Name</p>
      <p class="font-serif font-bold text-1xl mt-4">Car Model Name</p>
      <p class="font-serif font-bold text-2xl mt-8">rating</p>
      <div class="flex mt-16">
        <div>
          <p>electric/fuel</p>
          <p>number of seats</p>
        </div>
        <div class="ml-36">
          <p>number of doors</p>
          <p>age</p>
        </div>
      </div>
    </div>
    <div class="ml-96 mt-2 flex items-baseline">
    <p class="font-serif font-bold text-3xl">Price</p>
    <p class="font-serif font text-1xl ml-8">100$/day</p>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="ml-40 w-2/5">
    <p class="font-serif">
    Description: This Model 3 - one of the first ever made - makes the journey enjoyable. It is equipped with 290 miles of maximum range, convenient access to the Supercharger network of fast charging stations, Autopilot and Full Self-Driving capability (human supervision required), all-season tires, camping and dog mode climate control settings, and the best built-in navigation system of any car out there.
    </p>
  </div>
</div>
<%# host info box%>
<div class="flex ml-40 mt-24 items-top relative">
  <div>
    <%# host avatar%>
    <div class="w-36 h-36 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-10 mt-6 text-1xl font-serif font-bold">Host By</p>
  </div>
  <div class="ml-24 mt-1">
    <p>rating</p>
    <p class="pt-4">name</p>
    <p class="pt-4">award</p>
    <p class="pt-6 font-light text-neutral-500">47 trips Joined Feb 2019</p>
    <p class="pt-2 font-light text-neutral-500">Typically responds in 59min</p>
  </div>
  <%# submit request form%>
  <div class="absolute top-0 right-56 flow-root">
    <div>submit request form</div>
    <div date-rangepicker class="flex items-center">
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
        </div>
        <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
      </div>
      <span class="mx-4 text-gray-500">to</span>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
        </div>
        <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
    </div>
    </div>
  </div>
</div>
<div class="w-full">
  <p class="ml-40 mt-36 text-4xl font-serif font-bold">Instructions</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Parking details</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Please leave the vehicle where you found it. In the unlikely event the spot is taken, please do not leave the vehicle in front of any houses other than 125.</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Guidelines</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Pets are welcome, smoking is not. Please return the car with at least 100 miles of range, the more the better. Always pay attention to the road even if the car is on Autopilot, it's still learning how to drive and might need you to retake control at any time (though most of the time it's very good).</p>
</div>
<div class="ml-40 mt-24 items-top flex relative">
  <div>
    <p class="font-bold text-3xl font-serif">Reviews & Ratings</p>
    <div class="mt-8 flex">
      <div>
        <p class="mt-2">Cleanliness</p>
        <p class="mt-2">Maintanence</p>
        <p class="mt-2">Communication</p>
        <p class="mt-2">Accuracy</p>
      </div>
      <div class="ml-16 font-light">
      <p class="mt-2">corresponding rating bars --------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      <p class="mt-2">-----------------------------------------------------------<p>
      </div>
    </div>
  </div>
  <div class="mt-8 absolute top-0 right-56">
  review form here
  </div>
</div>
<%# user info display for review box%>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<div class="flex ml-40 mt-24 items-top">
  <div>
    <%# user avatar%>
    <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
    <p class="ml-5 mt-6 text-1xl font-serif font-bold">Username</p>
  </div>
  <div class="ml-12 mt-1">
    <p>rating ☆ ☆ ☆ ☆ ☆</p>
    <p class="pt-2 font-light text-neutral-500">Created Date</p>
    <p class="pt-2 w-2/5">I had a wonderful time driving Luke’s Tesla during my highway 1 road trip. The car was clean, worked perfectly and also included some snacks and extra cables which were very thoughtful. Luke was a really great host, helpful, quick to respond and friendly. Highly recommend renting as the process was really simple!</p>
  </div>
</div>
<%# some bottom space%>
<div class="h-40 w-full">
</div>
</main>
